# Python Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env.*

# Database
*.sqlite
*.sqlite3
*.db

# Logs & caches
*.log
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

#Testing files
seed_test_data.py

# OpenCode AI Configuration
.opencode/
skills-lock.json
opencode.json